*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
*.swp

*.DS_Store
.AppleDouble
.LSOverride
._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# LaTeX
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.los

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*Notes.bib

*.alg
*.loa
*.thm
*.nav
*.pre
*.snm
*.vrb
*.brf
*.lol
*.idx
*.ilg
*.ind
*.ist
*.upa
*.upb
*.pytxcode
pythontex-files-*/
*.loe
*.dpth
*.md5
*.auxlock

# glossaries
*.acn
*.acr
*.glo
*.loab